@charset "UTF-8";

.fixed-panel {
              width: 80%;
              height: 90%;
              overflow-y: scroll;
}

textarea {
    height: 100%;
    width: 100%;
}

html,body {
	height:700px;
}

.container {
	height:700px;
        width: 90%
}

td.details-control {
    background: url('images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('images/details_close.png') no-repeat center center;
}

a.save-collection {
    margin-left: 1em;
}
